/*
 * Empty Stylesheet file.
 */

.frontPane{
    -fx-background-color: #1f2326;
}

.frontButton{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.frontButton:hover{
    -fx-background-color: #0d1012;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.frontIcons{
    -fx-background-color: transparent;
}

.frontIcons:hover{
    -fx-background-color: #0d1012;
}
